/* Estilo da barra de navegação */
.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-header {
  margin-right: 20px; /* Espaço entre o título e os links */
  font-size: 1.5em; /* Tamanho do título */
  color: #fff; /* Cor do título */
}

.navbar-nav > li {
  margin-right: 15px; /* Espaço entre os itens do menu */
}

.navbar-nav > li:hover {
  color: #f39c12; /* Cor do link ao passar o mouse */
}

.navbar-form {
  margin-left: auto; /* Move o formulário de busca para a extremidade direita */
}

/* Estilo principal */
.principal {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Fonte mais limpa */
  font-weight: bolder; /* Peso da fonte */
  color: #333; /* Cor do texto principal */
}

/* Estilo da capa */
.eucapa {
  display: flex;
  flex-direction: row;
  border-radius: 90px; /* Bordas arredondadas */
  height: 500px;
}

.escritas {
  text-align: justify;
  display: flex;
}

.textoeimagem {
  padding-left: 100px; /* Menos espaço */
}

.textocapa {
  padding-top: 15px;
  display: flex;
  color: white; /* Cor do texto */
  padding-left: 50px;
  width: 400px;
  height: 480px;
  background-color: black; /* Fundo escuro */
  border-radius: 10px;
  box-shadow: 3px 3px 4px rgb(238, 255, 8); /* Sombra mais sutil */
}

.botao {
  background-color: rgb(252, 122, 0); /* Cor do botão */
  color: #000; /* Cor do texto do botão */
  text-decoration: solid; /* Estilo do texto */
  padding: 10px 20px; /* Espaçamento interno */
  border: none; /* Sem borda */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Cursor pointer */
}

.botao:hover {
  background-color: #e67e22; /* Cor ao passar o mouse */
}

/* Estilo do cabeçalho */
header {
  position: relative; /* Para permitir o uso de uma camada sobreposta */
  background-image: url("img_thumb/cristo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation-name: slide;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Camada de sobreposição */
.teste2 {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo preto com 50% de opacidade */
  z-index: 1; /* Fica atrás do texto */
}

/* Estilo do texto para aparecer sobre a camada escura */
.teste {
  position: relative;
  z-index: 2; /* Fica acima da camada escura */
  color: white; /* Para garantir que o texto seja visível */
  font-size: 2em; /* Tamanho do texto */
  text-align: center; /* Centralizar texto */
}

@keyframes slide {
  0% {background-image: url("img_thumb/pinkfloyd.jpg");}
  25% {background-image: url("img_thumb/lua.jpg");}
  50% {background-image: url("img_thumb/lua.jpg");}
  75% {background-image: url("img_thumb/barco.jpg");}
  100% {background-image: url("img_thumb/gatoalice.jpg");}
}

.margem {
  margin-top: 30px; /* Mais espaço superior */
}
